<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Получение данных</title>
</head>
<body>
<p>Пример: "https://nominatim.openstreetmap.org/search?state=Samara&country=russia&format=json&polygon_geojson=1"</p>
<form th:method="post" th:action="@{/get}" th:object="${urlAdress}">
  <label for="name">Введите адресс:</label>
  <input type="text" id="name" th:field="*{addresses}" name="name" size="100">
  <br>
  <button>Отправить</button>
</form>
</body>
</html>